# Semantic Analysis

TF-IDF vectors can be used to anlyze both words and n-grams.

We are currently aiming at finding a meaning of sentences by looking on the general word content. We will construct *topic*/*semantic* vectors that carry meaning of a sentence and not its statistics.


Note that rephrased sentence can have the same meaning having different TF-IDF vectors! Therefore closednes measures as cos-similarity cannot compare semantics.

LSA = Latent Semantic Analysis

Some important notions in analysing semantics (LSA):

- Polysemy - The existence of words and phrases with more than one meaning
- Homonyms - Words with the same spelling and pronunciation, but different meanings
- Zeugma - Use of two meanings of a word simultaneously in the same sentence
- Homographs - Words spelled the same, but with different pronunciations and meanings
- Homophones -Words with the same pronunciation, but different spellings and meanings (an NLP challenge with voice interfaces)

All these problems are issues in LSA.

## Initial experiments

We construct topics/semnatic vectors by weighting contibutions from different words.

In [5]:
import numpy as np
topic = {}
tfidf = dict(list(zip('cat dog apple lion NYC love'.split(), np.random.rand(6))))

print("tfidf = ", tfidf)

topic['petness'] = (.3* tfidf['cat'] +\
    .3 * tfidf['dog'] +\
     0 * tfidf['apple'] +\
     0 * tfidf['lion'] -\
     .2 * tfidf['NYC'] +\
     .2 * tfidf['love'])

topic['animalness'] = (.1 * tfidf['cat'] +\
    .1 * tfidf['dog'] -\
    .1 * tfidf['apple'] +\
    .5 * tfidf['lion'] +\
    .1 * tfidf['NYC'] -\
    .1 * tfidf['love'])

topic['cityness'] = ( 0 * tfidf['cat'] -\
    .1 * tfidf['dog'] +\
    .2 * tfidf['apple'] -\
    .1 * tfidf['lion'] +\
    .5 * tfidf['NYC'] +\
    .1 * tfidf['love'])

print("petness = ", topic['petness'])
print("animalness = ", topic['animalness'])
print("cityness = ", topic['cityness'])

tfidf =  {'cat': 0.08219887120266478, 'dog': 0.6434922923613229, 'apple': 0.7259162900863801, 'lion': 0.2601513375554295, 'NYC': 0.5989888276780737, 'love': 0.2718156894499929}
petness =  0.15227272142358014
animalness =  0.1627704699482836
cityness =  0.3814948778096369

**Note** Negative weights represnet opposite influence of a word on a topic.

We can also do reverse transform:

In [7]:
word_vector = {}
 
word_vector['cat']  = .3*topic['petness'] +\
    .1*topic['animalness'] +\
    0*topic['cityness']

word_vector['dog'] = .3*topic['petness'] +\
    .1*topic['animalness'] -\
    .1*topic['cityness']
 
word_vector['apple'] = 0*topic['petness'] -\
    .1*topic['animalness'] +\
    .2*topic['cityness']

word_vector['lion'] = 0*topic['petness'] +\
    .5*topic['animalness'] -\
    .1*topic['cityness']

word_vector['NYC'] = -.2*topic['petness'] +\
    .1*topic['animalness'] +\
    .5*topic['cityness']

word_vector['love'] = .2*topic['petness'] -\
    .1*topic['animalness'] +\
    .1*topic['cityness']

print("love = ", word_vector['love'])

love =  0.05232698507085136

By this we can see how much topic carries a given word.

<img src ="3DWords.png">

We compressed 6D vector of words to 3D vector of topics.

**Question:** How to autmoatize topics finding and scoring sentences with respect to topics they represents? 

**Answer:** 'You shall know a word by the company it keeps.' J. R. Firth

**Definition** LSA is an algorithm to analyze your TF-IDF matrix (table of TF-IDF vectors) to gather up words into topics. It works on bag-of-words vectors, too, but TF-IDF vectors give slightly better results. LSA also optimizes these topics to maintain diversity in the topic dimensions;

Possible LSA alghoritms:
- SVD (Singular Value Deomposition)
- PCA (Principal Components Analysis)

Another related alghorimts:
- LDA (Linear Discriminant Analysis)
- LDiA (Latant Dirichlet Allocation)

### A note on scikit-learn classifiers

Typical workflow of scikit-learn classifier:
- create classifier
- fit model - call fit() method
- predict using fitted model - call predict() method

<img src = "01_08.png">

<img src="01_02.png">

<img src="01_01.png">

For more info about ML see:
- S. Raschka, V. Mirjalili, 'Python Machine Learning', Packt Publishing 2nd edition 2017

## LDA classifier

[LDA](https://en.wikipedia.org/wiki/Linear_discriminant_analysis) is supervised learning alghoritm - you need class labels to train t.


LDA training overiew:
1. Compute the average position (centroid) of all the TF-IDF vectors within the class (such as spam SMS messages).
2. Compute the average position (centroid) of all the TF-IDF vectors not in the class (such as nonspam SMS messages).
3. Compute the vector difference between the centroids (the line that connects them).

#### Example - SPAM classifiaction using LDA

We use a one-dimensional distincion of spammines - scalar value of spammines.

In [13]:
import pandas as pd
pd.options.display.width = 120
sms = pd.read_csv('sms-spam.csv')
index = ['sms{}{}'.format(i, '!'*j) for (i,j) in zip(range(len(sms)), sms.spam)]
sms = pd.DataFrame(sms.values, columns=sms.columns, index=index)
sms['spam'] = sms.spam.astype(int)
print("len = ", len(sms))
print("spam msg sum = ", sms.spam.sum())

len =  4837
sum =  638

In [15]:
sms.head(6)

      Unnamed: 0  spam                                               text
sms0           0     0  Go until jurong point, crazy.. Available only ...
sms1           1     0                      Ok lar... Joking wif u oni...
sms2!          2     1  Free entry in 2 a wkly comp to win FA Cup fina...
sms3           3     0  U dun say so early hor... U c already then say...
sms4           4     0  Nah I don't think he goes to usf, he lives aro...
sms5!          5     1  FreeMsg Hey there darling it's been 3 week's n...

Now we do tokenization:

In [17]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize.casual import casual_tokenize
tfidf_model = TfidfVectorizer(tokenizer=casual_tokenize)
tfidf_docs = tfidf_model.fit_transform(raw_documents=sms.text).toarray()
print("shape tfidf = ", tfidf_docs.shape)
print("spam msg sum = ", sms.spam.sum())

shape tfidf =  (4837, 9232)
spam msg sum =  638

**Note** The nltk.casual_tokenizer gave you 9,232 words in your vocabulary. You have almost twice as many words as you have messages. And you have almost ten times as many words as spam messages. So your model won’t have a lot of information about the words that will indicate whether a message is spam or not. Usually, a Naive Bayes
classifier won’t work well when your vocabulary is much larger than the number of labeled examples in your dataset. That’s where the semantic analysis techniques of this chapter can help.

Now we do LDA step by step (see [sklearn.discriminant_analysis.LinearDiscriminantAnalysis](https://scikit-learn.org/stable/modules/generated/sklearn.discriminant_analysis.LinearDiscriminantAnalysis.html) for black-box):

In [18]:
mask = sms.spam.astype(bool).values
spam_centroid = tfidf_docs[mask].mean(axis=0)
ham_centroid = tfidf_docs[~mask].mean(axis=0)
print("spam centroids = ", spam_centroid.round(2))
print("non-spam centroids = ", ham_centroid.round(2))

spam centroids =  [0.06 0.   0.   ... 0.   0.   0.  ]
non-spam centroids =  [0.02 0.01 0.   ... 0.   0.   0.  ]

Project tfidf vector to the direction between centroids positions:

In [21]:
spamminess_score = tfidf_docs.dot(spam_centroid - ham_centroid)
print("vector between centroids = ", spamminess_score.round(2))

vector between centroids =  [-0.01 -0.02  0.04 ... -0.01 -0.    0.  ]

<img src= "SpamCloudPoints.png">

The arrow from the nonspam centroid to the spam centroid is the line that defines
your trained model. You can see how some of the green dots are on the back side of
the arrow, so you could get a negative spamminess score when you project them onto
this line between the centroids.

We can normalize 'spammines' to [0;1] interval.

In [23]:
from sklearn.preprocessing import MinMaxScaler
sms['lda_score'] = MinMaxScaler().fit_transform(spamminess_score.reshape(-1,1))
sms['lda_predict'] = (sms.lda_score > .5).astype(int)
sms['spam lda_predict lda_score'.split()].round(2).head(20)

        spam  lda_predict  lda_score
sms0       0            0       0.23
sms1       0            0       0.18
sms2!      1            1       0.72
sms3       0            0       0.18
sms4       0            0       0.29
sms5!      1            1       0.55
sms6       0            0       0.32
sms7       0            0       0.50
sms8!      1            1       0.89
sms9!      1            1       0.77
sms10      0            0       0.24
sms11!     1            1       0.79
sms12!     1            1       0.92
sms13      0            0       0.38
sms14      0            1       0.55
sms15!     1            1       0.53
sms16      0            0       0.13
sms17      0            0       0.25
sms18      0            0       0.28
sms19!     1            1       0.63

Notice that roughly values of lda_score above 0.5 are indication of potential spam.

In [24]:
(1. - (sms.spam - sms.lda_predict).abs().sum() / len(sms)).round(3)

0.977

We got 97.7% of correct preditions!

Calulate confusion matrix

<img src="ConfusionMatrix.png">

In [28]:
from pugnlp.stats import Confusion
Confusion(sms['spam lda_predict'.split()])

/usr/local/lib/python3.8/dist-packages/pugnlp/stats.py:504: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  self.__setattr__('_hist_labels', self.sum().astype(int))
/usr/local/lib/python3.8/dist-packages/pugnlp/stats.py:510: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  setattr(self, '_hist_classes', self.T.sum())

lda_predict     0    1
spam
0            4135   64
1              45  593

## LSA

**Latent semantic analysis** is based on the oldest and most commonly-used technique for dimension reduction, singular value decomposition. SVD was in widespread use long before the term “machine learning” even existed. SVD decomposes a matrix into three square matrices, one of which is diagonal.

Using SVD, LSA can break down your TF-IDF term-document matrix into three simpler matrices. And they can be multiplied back together to produce the original matrix, without any changes. This is like factorization of a large integer.

<img src = "1024px-Singular-Value-Decomposition.svg.png">

<img src = "Singular_value_decomposition_visualisation.svg">

### PCA

One of the advanced LSA approach is to use [**Principal Component Analysis (PCA)**](https://en.wikipedia.org/wiki/Principal_component_analysis). 


The basic idea is to transform coordinates to the one that axis are defined by the eigenvectors of covariance matrix.

**Remeber** the more variance, the more information!

One can consider PCA as SVD with improvements.

PCA is implemented in [Sciki Learn library](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html).

#### Example SMS spam subjects

Read data from csv:

In [2]:
import pandas as pd
pd.options.display.width = 120
sms = pd.read_csv('sms-spam.csv')

index = ['sms{}{}'.format(i, '!'*j) for (i,j) in zip(range(len(sms)), sms.spam)]
sms.index = index
sms.head(6)

       Unnamed: 0  spam                                               text
sms0            0     0  Go until jurong point, crazy.. Available only ...
sms1            1     0                      Ok lar... Joking wif u oni...
sms2!           2     1  Free entry in 2 a wkly comp to win FA Cup fina...
sms3            3     0  U dun say so early hor... U c already then say...
sms4            4     0  Nah I don't think he goes to usf, he lives aro...
sms5!           5     1  FreeMsg Hey there darling it's been 3 week's n...

Construct TF-IDF vectors:

In [3]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize.casual import casual_tokenize
tfidf = TfidfVectorizer(tokenizer=casual_tokenize)
tfidf_docs = tfidf.fit_transform(raw_documents=sms.text).toarray()
len(tfidf.vocabulary_)

9232

In [4]:
tfidf_docs = pd.DataFrame(tfidf_docs)
tfidf_docs = tfidf_docs - tfidf_docs.mean()
tfidf_docs.shape

(4837, 9232)

In [5]:
sms.spam.sum()

638

Do PCA:

In [6]:
from sklearn.decomposition import PCA
pca = PCA(n_components=16)
pca = pca.fit(tfidf_docs)
pca_topic_vectors = pca.transform(tfidf_docs)
columns = ['topic{}'.format(i) for i in range(pca.n_components)]
pca_topic_vectors = pd.DataFrame(pca_topic_vectors, columns=columns, index=index)
pca_topic_vectors.round(3).head(6)

,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,topic10,topic11,topic12,topic13,topic14,topic15
sms0,0.201,0.003,0.037,0.011,-0.019,-0.053,0.039,-0.065,0.011,-0.082,0.010,0.007,-0.001,-0.035,-0.006,-0.041
sms1,0.404,-0.094,-0.078,0.051,0.100,0.047,0.023,0.065,0.024,-0.025,-0.005,-0.028,0.046,-0.016,0.049,0.045
sms2!,-0.030,-0.048,0.090,-0.067,0.091,-0.043,-0.000,-0.001,-0.057,0.053,0.123,-0.014,0.023,-0.018,-0.049,-0.041
sms3,0.329,-0.033,-0.035,-0.016,0.052,0.056,-0.166,-0.073,0.062,-0.108,0.024,-0.014,0.066,-0.043,0.034,0.054
sms4,0.002,0.031,0.038,0.034,-0.075,-0.093,-0.044,0.060,-0.046,0.029,0.031,0.007,0.018,0.028,-0.082,0.029
sms5!,-0.016,0.059,0.014,-0.006,0.122,-0.040,0.005,0.167,-0.023,0.065,0.040,-0.062,-0.030,0.074,0.014,-0.034

**Note** We can find the weights of any fitted sklearn transformation by examining its .components_ attribute.

In [7]:
 tfidf.vocabulary_

{'go': 3807,
 'until': 8487,
 'jurong': 4675,
 'point': 6296,
 ',': 13,
 'crazy': 2549,
 '..': 21,
 'available': 1531,
 'only': 5910,
 'in': 4396,
 'bugis': 1973,
 'n': 5594,
 'great': 3894,
 'world': 8977,
 'la': 4811,
 'e': 3056,
 'buffet': 1971,
 '...': 25,
 'cine': 2277,
 'there': 8071,
 'got': 3855,
 'amore': 1296,
 'wat': 8736,
 'ok': 5874,
 'lar': 4848,
 'joking': 4642,
 'wif': 8875,
 'u': 8395,
 'oni': 5906,
 'free': 3604,
 'entry': 3195,
 '2': 471,
 'a': 1054,
 'wkly': 8933,
 'comp': 2386,
 'to': 8192,
 'win': 8890,
 'fa': 3328,
 'cup': 2608,
 'final': 3450,
 'tkts': 8180,
 '21st': 497,
 'may': 5272,
 '2005': 487,
 '.': 15,
 'text': 8020,
 '87121': 948,
 'receive': 6688,
 'question': 6574,
 '(': 9,
 'std': 7651,
 'txt': 8379,
 'rate': 6628,
 ')': 10,
 't': 7889,
 '&': 7,
 "c's": 2020,
 'apply': 1383,
 '08452810075': 115,
 'over': 6003,
 '18': 438,
 "'": 8,
 's': 6959,
 'dun': 3041,
 'say': 7034,
 'so': 7438,
 'early': 3069,
 'hor': 4207,
 'c': 2019,
 'already': 1268,
 'then': 8065,
 'nah': 5606,
 'i': 4311,
 "don't": 2948,
 'think': 8092,
 'he': 4048,
 'goes': 3819,
 'usf': 8537,
 'lives': 5004,
 'around': 1435,
 'here': 4104,
 'though': 8111,
 'freemsg': 3613,
 'hey': 4116,
 'darling': 2666,
 "it's": 4535,
 'been': 1693,
 '3': 591,
 "week's": 8788,
 'now': 5784,
 'and': 1310,
 'no': 5732,
 'word': 8967,
 'back': 1584,
 '!': 0,
 "i'd": 4312,
 'like': 4954,
 'some': 7454,
 'fun': 3677,
 'you': 9158,
 'up': 8489,
 'for': 3552,
 'it': 4533,
 'still': 7674,
 '?': 1037,
 'tb': 7955,
 'xxx': 9097,
 'chgs': 2230,
 'send': 7127,
 '£': 9216,
 '1.50': 344,
 'rcv': 6641,
 'even': 3240,
 'my': 5584,
 'brother': 1942,
 'is': 4519,
 'not': 5769,
 'speak': 7529,
 'with': 8918,
 'me': 5281,
 'they': 8083,
 'treat': 8312,
 'aids': 1214,
 'patent': 6106,
 'as': 1452,
 'per': 6148,
 'your': 9171,
 'request': 6796,
 'melle': 5315,
 'oru': 5968,
 'minnaminunginte': 5386,
 'nurungu': 5807,
 'vettam': 8599,
 'has': 4022,
 'set': 7154,
 'callertune': 2047,
 'all': 1253,
 'callers': 2046,
 'press': 6418,
 '*': 11,
 '9': 982,
 'copy': 2489,
 'friends': 3634,
 'winner': 8900,
 'valued': 8569,
 'network': 5678,
 'customer': 2620,
 'have': 4036,
 'selected': 7113,
 'receivea': 6689,
 '900': 986,
 'prize': 6450,
 'reward': 6851,
 'claim': 2283,
 'call': 2038,
 '09061701461': 263,
 'code': 2344,
 'kl341': 4771,
 'valid': 8565,
 '12': 384,
 'hours': 4226,
 'had': 3965,
 'mobile': 5441,
 '11': 371,
 'months': 5484,
 'or': 5946,
 'more': 5489,
 'r': 6590,
 'entitled': 3192,
 'update': 8495,
 'the': 8052,
 'latest': 4862,
 'colour': 2364,
 'mobiles': 5442,
 'camera': 2058,
 'co': 2333,
 'on': 5897,
 '08002986030': 99,
 "i'm": 4314,
 'gonna': 3834,
 'be': 1669,
 'home': 4176,
 'soon': 7483,
 'want': 8715,
 'talk': 7921,
 'about': 1076,
 'this': 8100,
 'stuff': 7741,
 'anymore': 1350,
 'tonight': 8235,
 'k': 4683,
 "i've": 4316,
 'cried': 2566,
 'enough': 3182,
 'today': 8199,
 'six': 7341,
 'chances': 2172,
 'cash': 2116,
 'from': 3652,
 '100': 354,
 '20,000': 482,
 'pounds': 6357,
 '>': 1035,
 'csh': 2584,
 '87575': 952,
 'cost': 2501,
 '150p': 415,
 '/': 27,
 'day': 2683,
 '6days': 827,
 '16': 431,
 '+': 12,
 'tsandcs': 8344,
 'reply': 6788,
 'hl': 4148,
 '4': 659,
 'info': 4433,
 'urgent': 8513,
 'won': 8950,
 '1': 337,
 'week': 8787,
 'membership': 5321,
 'our': 5980,
 '100,000': 355,
 'jackpot': 4564,
 ':': 1006,
 '81010': 900,
 'www.dbuk.net': 9039,
 'lccltd': 4880,
 'pobox': 6286,
 '4403ldnw1a7rw18': 696,
 'searching': 7081,
 'right': 6863,
 'words': 8968,
 'thank': 8037,
 'breather': 1912,
 'promise': 6487,
 'wont': 8958,
 'take': 7913,
 'help': 4089,
 'granted': 3883,
 'will': 8887,
 'fulfil': 3673,
 'wonderful': 8955,
 'blessing': 1802,
 'at': 1488,
 'times': 8158,
 'date': 2675,
 'sunday': 7805,
 'xxxmobilemovieclub': 9098,
 'use': 8531,
 'credit': 2556,
 'click': 2306,
 'wap': 8719,
 'link': 4977,
 'next': 5696,
 'message': 5340,
 'http://wap': 4259,
 'xxxmobilemovieclub.com': 9099,
 '=': 1031,
 'qjkgighjjgcbl': 6566,
 'oh': 5869,
 'watching': 8743,
 ':)': 1008,
 'eh': 3116,
 'remember': 6755,
 'how': 4233,
 'spell': 7545,
 'his': 4139,
 'name': 5612,
 'yes': 9137,
 'did': 2823,
 'v': 8553,
 'naughty': 5635,
 'make': 5193,
 'wet': 8828,
 'fine': 3458,
 'if': 4350,
 'that': 8045,
 '\x92': 9211,
 'way': 8753,
 'feel': 3400,
 'its': 4546,
 'gota': 3856,
 'b': 1560,
 'england': 3173,
 'macedonia': 5156,
 '-': 14,
 'dont': 2952,
 'miss': 5402,
 'goals': 3812,
 'team': 7968,
 'news': 5692,
 'ur': 8510,
 'national': 5629,
 '87077': 947,
 'eg': 3109,
 'try': 8340,
 'wales': 8695,
 'scotland': 7060,
 '4txt': 737,
 'ú1': 9220,
 '20': 481,
 'poboxox': 6287,
 '36504w45wq': 629,
 'seriously': 7147,
 '‘': 9225,
 'm': 5139,
 'going': 3823,
 'ha': 3961,
 'ü': 9221,
 'pay': 6119,
 'first': 3476,
 'when': 8840,
 'da': 2639,
 'stock': 7678,
 'comin': 2376,
 'aft': 1182,
 'finish': 3462,
 'lunch': 5121,
 'str': 7702,
 'down': 2974,
 'lor': 5058,
 'ard': 1410,
 'smth': 7422,
 'ffffffffff': 3420,
 'alright': 1269,
 'can': 2062,
 'meet': 5303,
 'sooner': 7485,
 'just': 4677,
 'forced': 3554,
 'myself': 5591,
 'eat': 3081,
 'slice': 7372,
 'really': 6670,
 'hungry': 4287,
 'tho': 8107,
 'sucks': 7778,
 'mark': 5230,
 'getting': 3767,
 'worried': 8981,
 'knows': 4782,
 'sick': 7289,
 'turn': 8362,
 'pizza': 6238,
 'lol': 5035,
 'always': 1279,
 'convincing': 2476,
 'catch': 2128,
 'bus': 1993,
 'are': 1411,
 'frying': 3660,
 'an': 1305,
 'egg': 3111,
 'tea': 7962,
 'eating': 3084,
 "mom's": 5463,
 'left': 4901,
 'dinner': 2858,
 'do': 2909,
 'love': 5081,
 "we're": 8760,
 'packing': 6032,
 'car': 2085,
 "i'll": 4313,
 'let': 4923,
 'know': 4779,
 "there's": 8074,
 'room': 6906,
 'ahhh': 1209,
 'work': 8970,
 'vaguely': 8560,
 'what': 8832,
 'does': 2923,
 'wait': 8689,
 "that's": 8048,
 'clear': 2300,
 'were': 8817,
 'sure': 7832,
 'being': 1713,
 'sarcastic': 7010,
 'why': 8868,
 'x': 9076,
 "doesn't": 2926,
 'live': 5000,
 'us': 8525,
 'yeah': 9125,
 'was': 8728,
 'apologetic': 1371,
 'fallen': 3352,
 'out': 5983,
 'she': 7199,
 'actin': 1123,
 'spoilt': 7572,
 'child': 2238,
 'caught': 2132,
 'till': 8152,
 'but': 1999,
 'we': 8757,
 "won't": 8951,
 'doing': 2938,
 'too': 8242,
 'badly': 1589,
 'cheers': 2214,
 'tell': 7985,
 'anything': 1356,
 'fear': 3391,
 'of': 5847,
 'fainting': 3344,
 'housework': 4231,
 'quick': 6577,
 'cuppa': 2610,
 'thanks': 8038,
 'subscription': 7766,
 'ringtone': 6872,
 'uk': 8415,
 'charged': 2184,
 '5': 745,
 'month': 5479,
 'please': 6265,
 'confirm': 2431,
 'by': 2016,
 'replying': 6790,
 'yup': 9192,
 'look': 5046,
 'timings': 8162,
 'msg': 5528,
 'again': 1190,
 'xuhui': 9093,
 'learn': 4892,
 '2nd': 567,
 'her': 4099,
 'lesson': 4921,
 '8am': 974,
 'oops': 5921,
 "roommate's": 6909,
 'done': 2950,
 'see': 7098,
 'letter': 4926,
 'decide': 2711,
 'hello': 4084,
 "how's": 4235,
 'saturday': 7024,
 'texting': 8027,
 "you'd": 9159,
 'decided': 2712,
 'tomo': 8224,
 'trying': 8342,
 'invite': 4493,
 'pls': 6273,
 'ahead': 1208,
 'watts': 8751,
 'wanted': 8716,
 'weekend': 8791,
 'abiola': 1072,
 'forget': 3560,
 'need': 5654,
 'crave': 2546,
 'most': 5499,
 'sweet': 7863,
 'arabian': 1407,
 'steed': 7658,
 'mmmmmm': 5431,
 'yummy': 9187,
 '07732584351': 62,
 'rodger': 6895,
 'burns': 1990,
 'tried': 8321,
 're': 6645,
 'sms': 7416,
 'nokia': 5744,
 'camcorder': 2056,
 '08000930705': 95,
 'delivery': 2750,
 'tomorrow': 8226,
 'who': 8859,
 'seeing': 7101,
 'hope': 4198,
 'man': 5203,
 'well': 8807,
 'endowed': 3163,
 'am': 1281,
 '<#>': 1024,
 'inches': 4401,
 'calls': 2053,
 'messages': 5344,
 'missed': 5405,
 "didn't": 2828,
 'get': 3760,
 'hep': 4098,
 'immunisation': 4379,
 'nigeria': 5708,
 'fair': 3345,
 'hopefully': 4201,
 'tyler': 8389,
 "can't": 2063,
 'could': 2511,
 'maybe': 5274,
 'ask': 1463,
 'bit': 1779,
 'stubborn': 7730,
 'hospital': 4214,
 'kept': 4730,
 'telling': 7986,
 'weak': 8762,
 'sucker': 7776,
 'hospitals': 4215,
 'suckers': 7777,
 'thinked': 8093,
 'time': 8154,
 'saw': 7033,
 'class': 2292,
 'gram': 3875,
 'usually': 8543,
 'runs': 6949,
 'half': 3977,
 'eighth': 3119,
 'smarter': 7395,
 'gets': 3763,
 'almost': 1264,
 'whole': 8862,
 'second': 7085,
 'fyi': 3693,
 'ride': 6862,
 'morning': 5493,
 "he's": 4050,
 'crashing': 2545,
 'place': 6240,
 'wow': 8997,
 'never': 5683,
 'realized': 6668,
 'embarassed': 3144,
 'accomodations': 1103,
 'thought': 8112,
 'liked': 4955,
 'since': 7314,
 'best': 1733,
 'seemed': 7105,
 'happy': 4011,
 '"': 1,
 'cave': 2136,
 'sorry': 7494,
 'give': 3788,
 'offered': 5855,
 'embarassing': 3145,
 'ac': 1089,
 'sptv': 7594,
 'new': 5687,
 'jersey': 4608,
 'devils': 2803,
 'detroit': 2797,
 'red': 6711,
 'wings': 8898,
 'play': 6255,
 'ice': 4330,
 'hockey': 4161,
 'correct': 2494,
 'incorrect': 4412,
 'end': 3158,
 'mallika': 5202,
 'sherawat': 7208,
 'yesterday': 9141,
 'find': 3455,
 '@': 1038,
 '<url>': 1030,
 'congrats': 2437,
 'year': 9126,
 'special': 7531,
 'cinema': 2278,
 'pass': 6094,
 'yours': 9176,
 '09061209465': 258,
 'suprman': 7830,
 'matrix': 5263,
 'starwars': 7638,
 'etc': 3230,
 'bx420': 2014,
 'ip4': 4502,
 '5we': 781,
 '150pm': 417,
 'later': 4861,
 'meeting': 5305,
 'where': 8846,
 'reached': 6652,
 'gauti': 3728,
 'sehwag': 7110,
 'odi': 5846,
 'series': 7145,
 'pick': 6211,
 '$': 5,
 'burger': 1985,
 'yourself': 9177,
 'move': 5513,
 'pain': 6039,
 'killing': 4754,
 'good': 3836,
 'joke': 4636,
 'girls': 3785,
 'situation': 7338,
 'seekers': 7102,
 'part': 6081,
 'checking': 2208,
 'iq': 4508,
 'roommates': 6910,
 'took': 8245,
 'forever': 3557,
 'come': 2371,
 'double': 2966,
 'check': 2204,
 'hair': 3972,
 'dresser': 2998,
 'said': 6980,
 'wun': 9024,
 'cut': 2624,
 'short': 7248,
 'nice': 5701,
 'pleased': 6266,
 'advise': 1165,
 'following': 3534,
 'recent': 6692,
 'review': 6849,
 'mob': 5439,
 'awarded': 1549,
 '1500': 414,
 'bonus': 1844,
 '09066364589': 306,
 'song': 7478,
 'dedicated': 2722,
 'which': 8853,
 'dedicate': 2721,
 'valuable': 8566,
 'frnds': 3643,
 'rply': 6925,
 'complimentary': 2406,
 'trip': 8322,
 'eurodisinc': 3234,
 'trav': 8304,
 'aco': 1119,
 '41': 679,
 '1000': 356,
 'dis': 2871,
 '6': 785,
 'morefrmmob': 5490,
 'shracomorsglsuplt': 7273,
 '10': 350,
 'ls1': 5103,
 '3aj': 638,
 'hear': 4062,
 'divorce': 2900,
 'barbie': 1620,
 'comes': 2373,
 "ken's": 4728,
 'plane': 6247,
 'wah': 8682,
 'lucky': 5114,
 'save': 7029,
 'money': 5470,
 'hee': 4075,
 'finished': 3464,
 'hi': 4120,
 'babe': 1574,
 'im': 4368,
 'wanna': 8713,
 'something': 7464,
 'xx': 9094,
 'performed': 6155,
 'waiting': 8692,
 'machan': 5158,
 'once': 5901,
 'thats': 8051,
 'cool': 2481,
 'gentleman': 3751,
 'dignity': 2848,
 'respect': 6816,
 'peoples': 6147,
 'very': 8598,
 'much': 5544,
 'shy': 7283,
 'pa': 6027,
 'operate': 5928,
 'after': 1183,
 'same': 6996,
 'looking': 5050,
 'job': 4623,
 "ta's": 7896,
 'earn': 3070,
 'ah': 1204,
 'stop': 7688,
 'urgnt': 8517,
 'real': 6662,
 'yo': 9152,
 'tickets': 8142,
 'one': 5903,
 'jacket': 4563,
 'used': 8532,
 'multis': 5553,
 'started': 7632,
 'requests': 6797,
 'came': 2057,
 'bed': 1686,
 'coins': 2350,
 'factory': 3335,
 'gotta': 3860,
 'nitros': 5727,
 'ela': 3124,
 'kano': 4708,
 'il': 4362,
 'download': 2975,
 'wen': 8811,
 'don': 2947,
 'stand': 7620,
 'close': 2313,
 'll': 5008,
 'another': 1332,
 'night': 5710,
 'spent': 7550,
 'late': 4858,
 'afternoon': 1185,
 'casualty': 2126,
 'means': 5291,
 "haven't": 4039,
 'any': 1346,
 'y': 9107,
 '42moro': 689,
 'includes': 4405,
 'sheets': 7203,
 'smile': 7403,
 'pleasure': 6268,
 'trouble': 8328,
 'pours': 6359,
 'rain': 6602,
 'sum': 7798,
 'hurts': 4297,
 'becoz': 1684,
 'someone': 7457,
 'loves': 5090,
 'smiling': 7407,
 'service': 7150,
 'representative': 6794,
 '0800 169 6031': 86,
 'between': 1741,
 '10am': 365,
 '9pm': 1002,
 'guaranteed': 3930,
 '5000': 755,
 'havent': 4040,
 'planning': 6251,
 'buy': 2004,
 'lido': 4937,
 '530': 767,
 'show': 7264,
 'collected': 2358,
 'simply': 7311,
 'password': 6102,
 'mix': 5421,
 '85069': 934,
 'verify': 8594,
 'usher': 8538,
 'britney': 1932,
 'fml': 3525,
 'po': 6284,
 'box': 1879,
 '5249': 764,
 'mk17': 5424,
 '92h': 990,
 '450ppw': 705,
 'telugu': 7991,
 'movie': 5516,
 'abt': 1084,
 'loads': 5014,
 'loans': 5016,
 'wk': 8928,
 'hols': 4174,
 'run': 6946,
 'forgot': 3565,
 'hairdressers': 3974,
 'appointment': 1386,
 'four': 3584,
 'shower': 7266,
 'beforehand': 1702,
 'cause': 2133,
 'prob': 6456,
 'coffee': 2345,
 'animation': 1319,
 'nothing': 5774,
 'else': 3138,
 'okay': 5877,
 'price': 6431,
 'long': 5042,
 'legal': 4904,
 'them': 8061,
 'ave': 1536,
 'ams': 1301,
 'gone': 3832,
 '4the': 735,
 'driving': 3007,
 'test': 8014,
 'yet': 9142,
 "you're": 9162,
 'mean': 5287,
 'guess': 3936,
 'gave': 3729,
 'boston': 1866,
 'men': 5326,
 'changed': 2174,
 'search': 7080,
 'location': 5019,
 'nyc': 5819,
 'cuz': 2631,
 'signin': 7299,
 'page': 6035,
 'says': 7038,
 'umma': 8423,
 'life': 4940,
 'vava': 8580,
 'lot': 5066,
 'dear': 2699,
 'wishes': 8912,
 'birthday': 1777,
 'making': 5197,
 'truly': 8335,
 'memorable': 5323,
 'aight': 1216,
 'hit': 4141,
 'would': 8993,
 'ip': 4501,
 'address': 1141,
 'considering': 2449,
 'computer': 2412,
 "isn't": 4528,
 'minecraft': 5380,
 'server': 7149,
 'grumpy': 3923,
 'old': 5889,
 'people': 6146,
 'mom': 5462,
 'better': 1738,
 'lying': 5135,
 'jokes': 4640,
 'worry': 8983,
 'busy': 1998,
 'plural': 6277,
 'noun': 5781,
 'research': 6802,
 'dinner.msg': 2859,
 'cos': 2499,
 'things': 8091,
 'scared': 7044,
 'mah': 5180,
 'loud': 5076,
 'gent': 3749,
 'contact': 2454,
 'last': 4855,
 'weekends': 8793,
 'draw': 2989,
 'shows': 7272,
 '09064012160': 282,
 'k52': 4691,
 '12hrs': 398,
 '150ppm': 419,
 'wa': 8677,
 'openin': 5925,
 'sentence': 7138,
 'formal': 3569,
 'anyway': 1360,
 'juz': 4682,
 'tt': 8348,
 'eatin': 3083,
 'puttin': 6554,
 'weight': 8798,
 'haha': 3968,
 'anythin': 1355,
 'happened': 4003,
 'entered': 3185,
 'cabin': 2025,
 "b'day": 1562,
 'boss': 1865,
 'felt': 3411,
 'askd': 1464,
 'invited': 4494,
 'apartment': 1365,
 'went': 8814,
 'specially': 7536,
 'holiday': 4171,
 'flights': 3502,
 'inc': 4399,
 'operator': 5929,
 '08712778109': 166,
 '10p': 368,
 'min': 5372,
 'goodo': 3846,
 'must': 5575,
 'friday': 3626,
 'egg-potato': 3112,
 'ratio': 6631,
 'tortilla': 8262,
 'needed': 5656,
 'hmm': 4153,
 'uncle': 8433,
 'informed': 4438,
 'paying': 6124,
 'school': 7050,
 'directly': 2865,
 'food': 3542,
 'private': 6447,
 '2004': 486,
 'account': 1107,
 'statement': 7641,
 '07742676969': 64,
 '786': 864,
 'unredeemed': 8477,
 'points': 6297,
 '08719180248': 213,
 'identifier': 4344,
 '45239': 707,
 'expires': 3307,
 '2000': 484,
 'caller': 2045,
 '5/9': 752,
 '03': 46,
 'landline': 4835,
 '09064019788': 288,
 '42wr29c': 690,
 'apples': 1381,
 'pairs': 6044,
 'malarky': 5199,
 'todays': 8205,
 'voda': 8645,
 'numbers': 5804,
 'ending': 3160,
 '7548': 856,
 '350': 624,
 'award': 1548,
 'match': 5251,
 '08712300220': 149,
 'quoting': 6589,
 '4041': 674,
 'standard': 7621,
 'rates': 6629,
 'app': 1375,
 'sao': 7004,
 'mu': 5542,
 'predict': 6392,
 "ü'll": 9222,
 'buying': 2007,
 'yetunde': 9144,
 "hasn't": 4024,
 'sent': 7137,
 'bother': 1869,
 'sending': 7129,
 'involve': 4498,
 "shouldn't": 7259,
 'imposed': 4386,
 'apologise': 1372,
 'girl': 3782,
 'del': 2740,
 'bak': 1597,
 'lucyxx': 5118,
 'tmorrow.pls': 8185,
 'accomodate': 1102,
 'answer': 1335,
 'sunshine': 7812,
 'quiz': 6584,
 'q': 6559,
 'top': 8253,
 'sony': 7480,
 'dvd': 3051,
 'player': 6257,
 'country': 2518,
 'algarve': 1245,
 'ansr': 1334,
 '82277': 907,
 'sp': 7516,
 'tyrone': 8394,
 'laid': 4827,
 'dogging': 2932,
 'locations': 5020,
 'direct': 2864,
 'join': 4631,
 "uk's": 8416,
 'largest': 4852,
 'bt': 1958,
 'txting': 8383,
 'gravel': 3888,
 '69888': 822,
 'nt': 5791,
 'ec2a': 3086,
 '31p': 611,
 '@150p': 1039,
 'haf': 3967,
 'msn': 5534,
 'yijue@hotmail.com': 9149,
 'him': 4132,
 'rooms': 6911,
 'befor': 1699,
 'activities': 1129,
 "you'll": 9161,
 'msgs': 5533,
 'chat': 2195,
 ...}

In [8]:
column_nums, terms = zip(*sorted(zip(tfidf.vocabulary_.values(), tfidf.vocabulary_.keys())))
terms

('!',
 '"',
 '#',
 '#150',
 '#5000',
 '$',
 '%',
 '&',
 "'",
 '(',
 ')',
 '*',
 '+',
 ',',
 '-',
 '.',
 '. .',
 '. . .',
 '. . . .',
 '. . . . .',
 '. ..',
 '..',
 '.. .',
 '.. . . .',
 '.. ... ...',
 '...',
 '... . . . .',
 '/',
 '0',
 '00',
 '00870405040',
 '0089',
 '01',
 '0121 2025050',
 '01223585236',
 '01223585334',
 '01256987',
 '02',
 '02/06',
 '02/09',
 '0207 153 9153',
 '0207 153 9996',
 '0207-083-6089',
 '02072069400',
 '02073162414',
 '02085076972',
 '03',
 '03530150',
 '04',
 '04/09',
 '05',
 '050703',
 '06',
 '06.05',
 '06/11',
 '07/11',
 '07008009200',
 '07046744435',
 '07090201529',
 '07090298926',
 '07099833605',
 '07123456789',
 '07732584351',
 '07734396839',
 '07742676969',
 '07753741225',
 '0776xxxxxxx',
 '07786200117',
 '077xxx',
 '078',
 '07801543489',
 '07808',
 '07808247860',
 '07808726822',
 '07815296484',
 '07821230901',
 '078498',
 '07880867867',
 '0789xxxxxxx',
 '07946746291',
 '0796xxxxxx',
 '07973788240',
 '07xxxxxxxxx',
 '08',
 '0800',
 '0800 0721072',
 '0800 169 6031',
 '0800 195 6669',
 '0800 1956669',
 '0800 5050',
 '0800 542 0578',
 '0800 542 0825',
 '08000407165',
 '08000776320',
 '08000839402',
 '08000930705',
 '08000938767',
 '08001950382',
 '08002888812',
 '08002986030',
 '08002986906',
 '08002988890',
 '08006344447',
 '0808 145 4742',
 '08081263000',
 '08081560665',
 '0819',
 '0844',
 '08448350055',
 '08448714184',
 '0845 021 3680',
 '0845 2814032',
 '08450542832',
 '08452810071',
 '08452810073',
 '08452810075',
 '0870',
 '08700435505',
 '08700469649',
 '08700621170',
 '08701213186',
 '08701237397',
 '08701417012',
 '08701624',
 '08701752560',
 '08701872873',
 '08702411827',
 '08702490080',
 '08702840625',
 '08702840625.comuk',
 '08704050406',
 '08704439680',
 '08706091795',
 '08707379102',
 '08707500020',
 '08707509020',
 '08707533310',
 '08707808226',
 '08708034412',
 '08708800282',
 '08709222922',
 '08709501522',
 '0871-4719',
 '0871-872-9755',
 '0871-872-9758',
 '08710471114',
 '08712101358',
 '08712103738',
 '08712120250',
 '08712300220',
 '08712317606',
 '08712400200',
 '08712400602',
 '08712400603',
 '08712402050',
 '08712402578',
 '08712402779',
 '08712402902',
 '08712402972',
 '08712404000',
 '08712405020',
 '08712405022',
 '08712460324',
 '08712466669',
 '08712778107',
 '08712778108',
 '08712778109',
 '08714342399',
 '08714712377',
 '08714712379',
 '08714712388',
 '08714712394',
 '08714712412',
 '08714714011',
 '08714740323',
 '08714742804',
 '08715203028',
 '08715203649',
 '08715203652',
 '08715203656',
 '08715203677',
 '08715203685',
 '08715203694',
 '08715205273',
 '08715500022',
 '08715705022',
 '08717111821',
 '08717168528',
 '08717205546',
 '0871750',
 '08717507382',
 '08717509990',
 '08717890890',
 '08717895698',
 '08717898035',
 '08718711108',
 '08718720201',
 '08718723815',
 '08718725756',
 '08718726270',
 '08718726970',
 '08718726971',
 '08718726978',
 '08718727200',
 '08718727868',
 '08718727870',
 '08718728876',
 '08718730555',
 '08718730666',
 '08718738001',
 '08718738002',
 '08718738034',
 '08719180219',
 '08719180248',
 '08719181259',
 '08719181503',
 '08719181513',
 '08719839835',
 '08719899217',
 '08719899229',
 '08719899230',
 '09',
 '09041940223',
 '09050000301',
 '09050000327',
 '09050000332',
 '09050000460',
 '09050000555',
 '09050000878',
 '09050000928',
 '09050001295',
 '09050001808',
 '09050002311',
 '09050003091',
 '09050005321',
 '09050090044',
 '09050280520',
 '09053750005',
 '09056242159',
 '09057039994',
 '09058091854',
 '09058091870',
 '09058094454',
 '09058094455',
 '09058094507',
 '09058094565',
 '09058094583',
 '09058094594',
 '09058094597',
 '09058094599',
 '09058095107',
 '09058095201',
 '09058097189',
 '09058097218',
 '09058098002',
 '09058099801',
 '09061104276',
 '09061104283',
 '09061209465',
 '09061213237',
 '09061221061',
 '09061221066',
 '09061701444',
 '09061701461',
 '09061701851',
 '09061701939',
 '09061702893',
 '09061743386',
 '09061743806',
 '09061743810',
 '09061743811',
 '09061744553',
 '09061749602',
 '09061790121',
 '09061790125',
 '09061790126',
 '09063440451',
 '09063442151',
 '09063458130',
 '09063463',
 '09064011000',
 '09064012103',
 '09064012160',
 '09064015307',
 '09064017295',
 '09064017305',
 '09064018838',
 '09064019014',
 '09064019788',
 '09065069120',
 '09065069154',
 '09065171142',
 '09065174042',
 '09065394514',
 '09065394973',
 '09065989180',
 '09065989182',
 '09066350750',
 '09066358152',
 '09066358361',
 '09066361921',
 '09066362206',
 '09066362220',
 '09066362231',
 '09066364311',
 '09066364349',
 '09066364589',
 '09066368327',
 '09066368470',
 '09066368753',
 '09066380611',
 '09066382422',
 '09066612661',
 '09066649731',
 '09066660100',
 '09071512432',
 '09071512433',
 '09071517866',
 '09077818151',
 '09090204448',
 '09090900040',
 '09094100151',
 '09094646631',
 '09094646899',
 '09095350301',
 '09096102316',
 '09099725823',
 '09099726395',
 '09099726429',
 '09099726481',
 '09099726553',
 '09111030116',
 '09111032124',
 '09701213186',
 '0a',
 '0p',
 '0quit',
 '1',
 '1,000',
 '1,2',
 '1,50',
 '1,500',
 '1.20',
 '1.5',
 '1.50',
 '1.childish',
 '1/08',
 '1/1',
 '1/2',
 '1/3',
 '10',
 '10,000',
 '10.1',
 '10/06',
 '100',
 '100,000',
 '1000',
 '1000call',
 '1000s',
 '100p',
 '100txt',
 '1013',
 '1030',
 '10:10',
 '10:30',
 '10am',
 '10k',
 '10mins',
 '10p',
 '10ppm',
 '10th',
 '11',
 '11.48',
 '1120',
 '113',
 '1131',
 '114/14',
 '1146',
 '1151',
 '116',
 '1172',
 '118p',
 '11mths',
 '11pm',
 '12',
 '12,000',
 '1205',
 '120p',
 '121',
 '1225',
 '123',
 '125',
 '1250',
 '125gift',
 '128',
 '1282essexcm61xn',
 '12:30',
 '12hours',
 '12hrs',
 '12mths',
 '12n146tf15',
 '12n146tf150p',
 '13/10',
 '13/4',
 '130',
 '1327',
 '139',
 '140',
 '1405',
 '140ppm',
 '1450',
 '146tf150p',
 '14thmarch',
 '150',
 '1500',
 '150p',
 '150p16',
 '150pm',
 '150ppermesssubscription',
 '150ppm',
 '150ppmmobilesvary',
 '150ppmpobox10183bhamb64xe',
 '150ppmsg',
 '150ppmx3age16',
 '150pw',
 '150x3',
 '151',
 '1510',
 '15541',
 '15:26',
 '15h',
 '16',
 '16.150',
 '165',
 '1680',
 '16yrs',
 '177',
 '177hp51fl',
 '18',
 '18/11',
 '180',
 '1843',
 '1896wc1n3xx',
 '18:0430-',
 '18p',
 '18yrs',
 '1apple',
 '1b6a5ecef91ff9',
 '1cup',
 '1da',
 '1er',
 '1hr',
 '1im',
 '1lemon',
 '1million',
 '1more',
 '1n3xx',
 '1pm',
 '1st',
 '1st4terms',
 '1stchoice.co.uk',
 '1stone',
 '1thing',
 '1tulsi',
 '1win150ppmx3',
 '1win150ppmx3age16',
 '1win150ppmx3age16subscription',
 '1winaweek',
 '1winawk',
 '1x150p',
 '1yf',
 '2',
 '2,000',
 '2-4-',
 '2.15',
 '2.30',
 '2.50',
 '2.im',
 '2.naughty',
 '2/2',
 '2/3',
 '20',
 '20,000',
 '200',
 '2000',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '200p',
 '202',
 '20m12aq',
 '20p',
 '21',
 '21/11',
 '2187000',
 '21st',
 '22',
 '220',
 '220cm2',
 '23',
 '2309',
 '23f',
 '23g',
 '24',
 '24/10',
 '24/7',
 '245c2150pm',
 '24hrs',
 '24m',
 '24th',
 '25',
 '250',
 '250k',
 '255',
 '25p',
 '26.03',
 '26/10',
 '26/11',
 '2667',
 '26th',
 '27/03',
 '27/6',
 '28',
 '28/5',
 '28days',
 '28th',
 '28thfeb',
 '29',
 '29/03',
 '29/10',
 '2b',
 '2bed',
 '2bold',
 '2bremoved',
 '2c',
 '2channel',
 '2come',
 '2day',
 '2day.love',
 '2die',
 '2docd.please',
 '2end',
 '2exit',
 '2ez',
 '2find',
 '2getha',
 '2geva',
 '2go',
 '2go.did',
 '2gthr',
 '2hear',
 '2hook',
 '2hrs',
 '2i',
 '2kbsubject',
 '2marrow',
 '2mobile',
 '2moro',
 '2morow',
 '2morro',
 '2morrow',
 '2morrowxxxx',
 '2mro',
 '2mrw',
 '2mwen',
 '2nd',
 '2nhite',
 '2nights',
 '2nite',
 '2optout',
 '2p',
 '2px',
 '2rcv',
 '2stop',
 '2stoptx',
 '2stoptxt',
 '2tell',
 '2the',
 '2u',
 '2u2',
 '2watershd',
 '2waxsto',
 '2wks',
 '2worzels',
 '2wt',
 '2wu',
 '2years',
 '2yr',
 '2yrs',
 '3',
 '3.00',
 '3.75',
 '3.99',
 '3.sentiment',
 '30',
 '300',
 '3000',
 '300603',
 '300603t',
 '300p',
 '3030',
 '30apr',
 '30pp',
 '30s',
 '30th',
 '31',
 '31/10',
 '3100',
 '310303',
 '31p',
 '32',
 '32000',
 '3230',
 '32323',
 '326',
 '33.65',
 '330',
 '334',
 '334sk38ch',
 '3355',
 '33:50',
 '342/2',
 '350',
 '3510i',
 '35p',
 '3650',
 '36504',
 '36504w45wq',
 '365o4w45wq',
 '373',
 '3750',
 '37819',
 '38',
 '385',
 '391784',
 '39822',
 '3aj',
 '3cktz8r7',
 '3d',
 '3days',
 '3g',
 '3gbp',
 '3hrs',
 '3lions',
 '3lp',
 '3miles',
 '3mins',
 '3mobile',
 '3optical',
 '3pound',
 '3qxj9',
 '3rd',
 '3ss',
 '3uz',
 '3wks',
 '3x',
 '3xx',
 '4',
 '4-6',
 '4-7',
 '4.15',
 '4.30',
 '4.47',
 '4.49',
 '4.50',
 '4.cook',
 '4.rowdy',
 '40',
 '400',
 '400mins',
 '402',
 '403',
 '4041',
 '40411',
 '40533',
 '40gb',
 '40mph',
 '41',
 '41685',
 '41782',
 '420',
 '42049',
 '4217',
 '4235wc1n3xx',
 '42478',
 '42810',
 '4284',
 '42moro',
 '42wr29c',
 '430',
 '434',
 '434sk38wp150ppm18',
 '44',
 '440',
 '4403ldnw1a7rw18',
 '4477977060',
 '4478012592',
 '4487124040',
 '4490500003',
 '4490715124',
 '45',
 '450',
 '450p',
 '450ppw',
 '450pw',
 '45239',
 '45po139wa',
 '45w2tg150p',
 '47',
 '48',
 '4882',
 '48922',
 '49557',
 '4a',
 '4an18th',
 '4brekkie',
 '4d',
 '4eva',
 '4few',
 '4fil',
 '4get',
 '4get2text',
 '4give',
 '4got',
 '4goten',
 '4info',
 '4jx',
 '4msgs',
 '4mths',
 '4my',
 '4qf2',
 '4t',
 '4th',
 '4the',
 '4thnov.behind',
 '4txt',
 '4u',
 '4utxt',
 '4w',
 '4ward',
 '4wrd',
 '4xx26',
 '4years',
 '5',
 '5.00',
 '5.15',
 '5.30',
 '5.ful',
 '5.gardener',
 '5.terror',
 '5/9',
 '50',
 '500',
 '5000',
 '5000.00',
 '50award',
 '50p',
 '50s',
 '5120',
 '515',
 '5226',
 '523',
 '5249',
 '526',
 '528',
 '530',
 '54',
 '545',
 '5digital',
 '5free',
 '5ish',
 '5k',
 '5min',
 '5mls',
 '5p',
 '5pm',
 '5th',
 '5times',
 '5wb',
 '5we',
 '5wkg',
 '5wq',
 '5years',
 '6',
 '6.30',
 '6.45',
 '6.cruel',
 '6.house',
 '6.romantic',
 '60',
 '60,400',
 '600',
 '60p',
 '61',
 '61200',
 '61610',
 '62220cncl',
 '6230',
 '62468',
 '62735',
 '630',
 '63miles',
 '645',
 '65,61',
 '650',
 '66,382',
 '6600',
 '6650',
 '674',
 '6744123',
 '68866',
 '69',
 '69101',
 '69200',
 '69669',
 '69696',
 '69698',
 '69855',
 '69866.18',
 '69876',
 '69888',
 '69888nyt',
 '69911',
 '69969',
 '69988',
 '6days',
 '6gbp',
 '6hl',
 '6hrs',
 '6ish',
 '6missed',
 '6months',
 '6ph',
 '6pm',
 '6th',
 '6times',
 '6wu',
 '6zf',
 '7',
 '7.30',
 '7.8',
 '7.children',
 '7.romantic',
 '7.shy',
 '700',
 '71',
 '7250',
 '7250i',
 '730',
 '731',
 '734ls27yf',
 '74355',
 '75,000',
 '750',
 '7548',
 '75ldns7',
 '762',
 '7634',
 '7684',
 '77.11',
 '7732584351',
 '78',
 '786',
 '7876150',
 '79',
 '7:30',
 '7am',
 '7cfca1a',
 '7ish',
 '7oz',
 '7pm',
 '7th',
 '7ws',
 '7zs',
 '8',
 '8,22',
 '8-8',
 '8.30',
 '8.attractive',
 '8.lovable',
 '8.neighbour',
 '80',
 '800',
 '8000930705',
 '80062',
 '8007',
 '80082',
 '80086',
 '8012230',
 '80155',
 '80160',
 '80182',
 '8027',
 '80488',
 '80488.biz',
 '80608',
 '8077',
 '80878',
 '81010',
 '81151',
 '81303',
 '81618',
 '820554ad0a1705572711',
 '82228',
 '82242',
 '82277',
 '82277.unsub',
 '82324',
 '82468',
 '83021',
 '83039',
 '83049',
 '83110',
 '83118',
 '83222',
 '83332.please',
 '83338',
 '83355',
 '83370',
 '83383',
 '83435',
 '83600',
 '83738',
 '84',
 '84025',
 '84122',
 '84128',
 '84199',
 '84484',
 '85',
 '850',
 '85023',
 '85069',
 '85222',
 '85233',
 '8552',
 '85555',
 '86021',
 '861',
 '864233',
 '86688',
 '86888',
 '87021',
 '87066',
 '87070',
 '87077',
 '87121',
 '87131',
 '8714714',
 '87239',
 '87575',
 '8800',
 '88039',
 '88039.skilgme',
 '88066',
 '88088',
 '88222',
 '88600',
 '88800',
 '8883',
 '88877',
 '88888',
 '89',
 '89034',
 '89070',
 '89080',
 '89105',
 '89123',
 '89545',
 '89555',
 '89693',
 '89938',
 '8am',
 '8ball',
 '8i',
 '8lb',
 '8p',
 '8r',
 '8th',
 '8wp',
 '9',
 '9-6',
 '9.decent',
 '9.funny',
 '900',
 '9061100010',
 '910',
 '9280114',
 '92h',
 '930',
 '9307622',
 '945',
 '946',
 '95',
 '95qu',
 '97n7qp',
 '9832156',
 '9ae',
 ...)

In [9]:
weights = pd.DataFrame(pca.components_, columns=terms, index=['topic{}'.format(i) for i in range(16)])
pd.options.display.max_columns = 8
weights.head(4).round(3)

            !      "      #   #150  ...      …      ┾    〨ud      鈥
topic0 -0.071  0.008 -0.001 -0.000  ... -0.002  0.001  0.001  0.001
topic1  0.063  0.008  0.000 -0.000  ...  0.003  0.001  0.001  0.001
topic2  0.071  0.027  0.000  0.001  ...  0.002 -0.001 -0.001 -0.001
topic3 -0.059 -0.033 -0.001 -0.000  ...  0.001  0.001  0.001  0.001

[4 rows x 9232 columns]

Now we can see which term contributes to each topic - we restrict to meaningful words:

In [10]:
pd.options.display.max_columns = 12
deals = weights['! ;) :) half off free crazy deal only $ 80 %'.split()].round(3) * 100
deals

            !   ;)    :)  half  off  free  crazy  deal  only    $   80    %
topic0   -7.1  0.1  -0.5  -0.0 -0.4  -2.0   -0.0  -0.1  -2.2  0.3 -0.0 -0.0
topic1    6.3  0.0   7.4   0.1  0.4  -2.3   -0.2  -0.1  -3.8 -0.1 -0.0 -0.2
topic2    7.1  0.2  -0.1   0.0  0.3   4.4    0.1  -0.1   0.7  0.0  0.0  0.1
topic3   -5.9 -0.3  -7.1   0.2  0.3  -0.2    0.0   0.1  -2.3  0.1 -0.1 -0.3
topic4   38.0 -0.1 -12.4  -0.1 -0.2   9.9    0.1  -0.2   3.0  0.3  0.1 -0.1
topic5  -26.5  0.1  -1.6  -0.3 -0.7  -1.4   -0.6  -0.2  -1.8 -0.9  0.0  0.0
topic6  -10.9 -0.5  19.9  -0.4 -0.9  -0.6   -0.2  -0.1  -1.4 -0.0 -0.0 -0.1
topic7   16.2  0.1 -18.0   0.8  0.8  -2.9    0.0   0.1  -2.0 -0.3  0.0 -0.1
topic8   34.2  0.1   5.0  -0.4 -0.5   0.3   -0.4  -0.4   3.2 -0.6 -0.0 -0.2
topic9    7.5 -0.3  16.3   1.5 -0.9   6.3   -0.5  -0.4   3.1 -0.4 -0.0  0.0
topic10 -31.7 -0.2 -10.2   0.1  0.1  12.5    0.2   0.0   0.5 -0.1 -0.1 -0.2
topic11 -24.8 -0.4 -27.0  -0.4 -1.4   4.8   -0.2  -0.1  -0.6  0.5  0.0  0.4
topic12 -22.1 -0.2  38.8  -0.1  0.3  -3.8   -0.5   0.1   3.8  0.3  0.0  0.3
topic13  12.9 -0.2  32.4  -0.2  0.5   5.8    0.4   0.1  -2.2 -0.3  0.0 -0.2
topic14   3.7 -0.0  13.7  -0.4 -0.9   4.2    0.2  -0.1   3.7 -0.0  0.0 -0.3
topic15  -6.6  0.6   1.7   0.5  1.5   4.1    0.7  -0.4  -1.8  0.6 -0.1  0.2

**Note** The casual_tokenize tokenizer splits "80%" into ["80","%"] and "$80 million" into ["$", 80", "million"]. So unless you use LSA or a 2-gram tokenizer, your NLP pipeline wouldn’t notice the difference between 80% and $80 million. They’d both share the token “80.”

In [11]:
deals.T.sum()

topic0    -11.9
topic1      7.5
topic2     12.7
topic3    -15.5
topic4     38.3
topic5    -33.9
topic6      4.8
topic7     -5.3
topic8     40.3
topic9     32.2
topic10   -29.1
topic11   -49.2
topic12    16.9
topic13    49.0
topic14    23.8
topic15     1.0
dtype: float64

## Yet another PCA semantic analysis

Prepare TF-IDF vector and then using PCA create semantic vector. Finally,we apply PCA to find interesting relations. The code will be more extensive and shows state-of-art NLP codes:

In [12]:
from nltk.tokenize import casual_tokenize
import pandas as pd
import numpy as np
import os
from sklearn.feature_extraction.text import TfidfVectorizer
# from nltk.stem import PorterStemmer
from sklearn.decomposition import PCA



NUM_TOPICS = 3
NUM_WORDS = 6
NUM_DOCS = NUM_PRETTY = 16
SAVE_SORTED_CORPUS = ''  # 'cats_and_dogs_sorted.txt'
# import nltk
# nltk.download('wordnet')  # noqa
# from nltk.stem.wordnet import WordNetLemmatizer


# STOPWORDS = 'a an and or the do are with from for of on in by if at to into them'.split()
# STOPWORDS += 'to at it its it\'s that than our you your - -- " \' ? , . !'.split()
STOPWORDS = []

# SYNONYMS = dict(zip(
#     'wolv people person women woman man human he  we  her she him his hers'.split(),
#     'wolf her    her    her   her   her her   her her her her her her her'.split()))
# SYNONYMS.update(dict(zip(
#     'ate pat smarter have had isn\'t hasn\'t no  got get become been was were wa be sat seat sit'.split(),
#     'eat pet smart   has  has not    not     not has has is     is   is  is   is is sit sit  sit'.split())))
# SYNONYMS.update(dict(zip(
#     'i me my mine our ours catbird bird birds birder tortoise turtle turtles turtle\'s don\'t'.split(),
#     'i i  i  i    i   i    bird    bird birds bird   turtle   turtle turtle  turtle    not'.split())))
SYNONYMS = {}

stemmer = None  # PorterStemmer()

pd.options.display.width = 110
pd.options.display.max_columns = 14
pd.options.display.max_colwidth = 32




def normalize_corpus_words(corpus, stemmer=stemmer, synonyms=SYNONYMS, stopwords=STOPWORDS):
    docs = [doc.lower() for doc in corpus]
    docs = [casual_tokenize(doc) for doc in docs]
    docs = [[synonyms.get(w, w) for w in words if w not in stopwords] for words in docs]
    if stemmer:
        docs = [[stemmer.stem(w) for w in words if w not in stopwords] for words in docs]
        docs = [[synonyms.get(w, w) for w in words if w not in stopwords] for words in docs]
    docs = [' '.join(w for w in words if w not in stopwords) for words in docs]
    return docs


def tokenize(text, vocabulary, synonyms=SYNONYMS, stopwords=STOPWORDS):
    doc = normalize_corpus_words([text.lower()], synonyms=synonyms, stopwords=stopwords)[0]
    stems = [w for w in doc.split() if w in vocabulary]
    return stems


fun_words = vocabulary = 'cat dog apple lion nyc love big small'
fun_stems = normalize_corpus_words([fun_words])[0].split()[:NUM_WORDS]
fun_words = fun_words.split()

In [20]:
#corpus = get_data('cats_and_dogs_sorted')[:NUM_PRETTY]
f = open("CatsAndDogs.txt", "r")
corpus= f.readlines()

docs = normalize_corpus_words(corpus)
tfidfer = TfidfVectorizer(min_df=1, max_df=.99, stop_words=None, token_pattern=r'(?u)\b\w+\b',
                          vocabulary=fun_stems)
tfidf_dense = pd.DataFrame(tfidfer.fit_transform(docs).todense())
id_words = [(i, w) for (w, i) in tfidfer.vocabulary_.items()]
tfidf_dense.columns = list(zip(*sorted(id_words)))[1]
tfidfer.use_idf = False
tfidfer.norm = None
bow_dense = pd.DataFrame(tfidfer.fit_transform(docs).todense())
bow_dense.columns = list(zip(*sorted(id_words)))[1]
bow_dense = bow_dense.astype(int)
tfidfer.use_idf = True
tfidfer.norm = 'l2'
bow_pretty = bow_dense.copy()
bow_pretty = bow_pretty[fun_stems]
bow_pretty['text'] = corpus
for col in fun_stems:
    bow_pretty.loc[bow_pretty[col] == 0, col] = ''
# print(bow_pretty)
word_tfidf_dense = pd.DataFrame(tfidfer.transform(fun_stems).todense())
word_tfidf_dense.columns = list(zip(*sorted(id_words)))[1]
word_tfidf_dense.index = fun_stems

tfidf_pretty = tfidf_dense.copy()
tfidf_pretty = tfidf_pretty[fun_stems]
tfidf_pretty = tfidf_pretty.round(2)
for col in fun_stems:
    tfidf_pretty.loc[tfidf_pretty[col] == 0, col] = ''


tfidf_pretty.head(10)

    cat dog apple  lion   nyc  love
0            0.79        0.62
1            0.79        0.62
2                        0.66  0.75
3            0.79        0.62
4            0.79        0.62
5             1.0
6   1.0
7   0.5            0.87
8  0.54                        0.84
9                        0.66  0.75

Start semantic analysis using PCA:

In [23]:
tfidf_zeros = tfidf_dense.T.sum()[tfidf_dense.T.sum() == 0]
pcaer = PCA(n_components=NUM_TOPICS)

doc_topic_vectors = pd.DataFrame(pcaer.fit_transform(tfidf_dense.values), columns=['top{}'.format(i) for i in range(NUM_TOPICS)])
doc_topic_vectors['text'] = corpus
pd.options.display.max_colwidth = 55
doc_topic_vectors.round(1)

     top0  top1  top2                                           text
0    -0.1  -0.3   0.7                        NYC is the Big Apple.\n
1    -0.1  -0.3   0.7               NYC is known as the Big Apple.\n
2    -0.1  -0.3   0.6                                  I love NYC!\n
3    -0.1  -0.3   0.7  I wore a hat to the Big Apple party in NYC.\n
4    -0.1  -0.3   0.7              Come to NYC. See the Big Apple!\n
..    ...   ...   ...                                            ...
258  -0.1  -0.2  -0.1                               Are you a vet?\n
259  -0.1  -0.2  -0.1                     My flowers are blooming.\n
260  -0.1  -0.2  -0.1       A single flower grew in Benji's grave.\n
261  -0.1  -0.2  -0.1                    Char chased the squirrel.\n
262  -0.1  -0.2  -0.1        I gnawed the frog legs with my teeth.\n

[263 rows x 4 columns]

Now we connect terms with topics and text:

In [24]:
word_topic_vectors = pd.DataFrame(pcaer.transform(word_tfidf_dense.values), columns=['top{}'.format(i) for i in range(NUM_TOPICS)])
word_topic_vectors.index = fun_stems

In [26]:
word_topic_vectors

           top0      top1      top2
cat    0.800488  0.296340  0.016234
dog   -0.555923  0.695405  0.018666
apple -0.087553 -0.216128  0.117937
lion  -0.062965 -0.192958 -0.128977
nyc   -0.111172 -0.298512  0.880894
love  -0.085256 -0.247502  0.012591

This is exactly what we want - we associated terms with topics automatically.

### Return to SVD

We now return to the analysis of SVD properties. It will aslo show how PCA is based on.

In [56]:
U, Sigma, VT = np.linalg.svd(tfidf_dense.T)  # <1> Transpose the doc-word tfidf matrix, because SVD works on column vectors
S = pd.DataFrame(np.diag(Sigma.copy()))
doc_labels = ['doc{}'.format(i) for i in range(len(tfidf_dense))]
U_df = pd.DataFrame(U, index=fun_stems)
VT_df = pd.DataFrame(VT, index=doc_labels, columns=doc_labels)

We have the following matrices:

<img src = "Singular_value_decomposition_visualisation.svg">

#### U - left singular vectors (term-topic matrix)

The left singular vectors tell you how to "rotate" the TF-IDF vectors into the topic space, equivalent to creating topics

The U matrix contains the term-topic matrix that tells you about “the company a word keeps.” This is the most important matrix for semantic analysis in NLP. The U matrix is called the “left singular vectors” because it contains row vectors that should be multiplied by a matrix of column vectors from the left. U is the cross-correlation between words and topics based on word co-occurrence in the same document. It’s a square matrix until you start truncating it (deleting columns).

In [46]:
U_df

              0         1         2         3         4         5
cat   -0.991106  0.128944  0.019021  0.010894  0.024432 -0.002270
dog   -0.128622 -0.991430  0.022126 -0.004297 -0.000856 -0.003660
apple -0.001022 -0.001375 -0.210788  0.091791 -0.001459 -0.973210
lion  -0.024051  0.004013  0.002123  0.003015 -0.999695  0.001343
nyc   -0.019346 -0.020460 -0.953934  0.196251 -0.000748  0.225173
love  -0.014555  0.001572 -0.211479 -0.976173 -0.003099 -0.046249

#### S - singular values

The Sigma or S matrix contains the topic “singular values” in a square diagonal matrix.The singular values tell you how much information is captured by each dimension in your new semantic (topic) vector space. A diagonal matrix has nonzero values only along the diagonal from the upper left to the lower right.

In [57]:
S

          0         1         2        3         4         5
0  6.342806  0.000000  0.000000  0.00000  0.000000  0.000000
1  0.000000  5.688725  0.000000  0.00000  0.000000  0.000000
2  0.000000  0.000000  3.502347  0.00000  0.000000  0.000000
3  0.000000  0.000000  0.000000  2.76255  0.000000  0.000000
4  0.000000  0.000000  0.000000  0.00000  2.115862  0.000000
5  0.000000  0.000000  0.000000  0.00000  0.000000  1.741329

#### $V^T$ right singular vectors

The $V^T$ matrix contains the “right singular vectors” as the columns of the document-document matrix. This gives you the shared meaning between documents, because it measures how often documents use the same topics in your new semantic model of the documents. It has the same number of rows (p) and columns as you have documents in your small corpus.

In [51]:
VT_df.head(10)

,doc0,doc1,doc2,doc3,doc4,doc5,doc6,doc7,...,doc255,doc256,doc257,doc258,doc259,doc260,doc261,doc262
doc0,-0.002006,-0.002006,-0.003736,-0.002006,-0.002006,-0.000161,-0.156257,-0.081561,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
doc1,-0.002407,-0.002407,-0.002162,-0.002407,-0.002407,-0.000242,0.022667,0.011966,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
doc2,-0.215227,-0.215227,-0.224876,-0.215227,-0.215227,-0.060185,0.005431,0.003245,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
doc3,0.069942,0.069942,-0.219016,0.069942,0.069942,0.033227,0.003944,0.002920,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
doc4,-0.000761,-0.000761,-0.001335,-0.000761,-0.000761,-0.000690,0.011547,-0.403128,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
doc5,-0.360514,-0.360514,0.065218,-0.360514,-0.360514,-0.558889,-0.001304,0.000014,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
doc6,-0.134383,0.027968,0.053156,0.033837,0.021439,0.040278,0.974950,-0.008370,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
doc7,-0.003905,0.077428,0.165968,-0.328559,0.075929,0.141068,-0.008205,0.830735,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
doc8,-0.116764,-0.028473,-0.141993,-0.025281,-0.107706,0.219134,-0.012857,-0.004296,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
doc9,-0.078585,-0.078585,-0.251298,-0.078585,0.061376,0.137343,0.001279,0.000427,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

## Truncated SVD

## idea:
err = []
S_tmp=S.copy()
for numdim in range(len(S), 0, -1):
    S_tmp[numdim - 1, numdim - 1] = 0
    reconstructed_tdm = U.dot(S_tmp).dot(VT_df)
    err.append(np.sqrt(((reconstructed_tdm - tdm).values.flatten() ** 2).sum() / np.product(tdm.shape)))
np.array(err).round(2)

<img src="TruncatedSVM.png">

Truncated SVD is realized in [scikit learn library](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.TruncatedSVD.html).

## Truncated SVD for SMS semantic analysis

In [60]:
from sklearn.decomposition import TruncatedSVD
svd = TruncatedSVD(n_components=16, n_iter=100)
svd_topic_vectors = svd.fit_transform(tfidf_docs.values)
svd_topic_vectors = pd.DataFrame(svd_topic_vectors, columns=columns, index=index)
svd_topic_vectors.round(3).head(6)

       topic0  topic1  topic2  topic3  topic4  topic5  topic6  topic7  topic8  topic9  topic10  topic11  topic12  topic13  topic14  topic15
sms0    0.201   0.003   0.037   0.011  -0.019  -0.053   0.039  -0.066   0.012  -0.083    0.007   -0.007    0.002   -0.036   -0.014    0.037
sms1    0.404  -0.094  -0.078   0.051   0.100   0.047   0.023   0.065   0.023  -0.024   -0.004    0.036    0.043   -0.021    0.051   -0.042
sms2!  -0.030  -0.048   0.090  -0.067   0.091  -0.043  -0.000  -0.001  -0.057   0.051    0.125    0.023    0.026   -0.020   -0.042    0.052
sms3    0.329  -0.033  -0.035  -0.016   0.052   0.056  -0.166  -0.074   0.063  -0.108    0.022    0.023    0.073   -0.046    0.022   -0.070
sms4    0.002   0.031   0.038   0.034  -0.075  -0.093  -0.044   0.061  -0.045   0.029    0.028   -0.009    0.027    0.034   -0.083   -0.021
sms5!  -0.016   0.059   0.014  -0.006   0.122  -0.040   0.005   0.167  -0.023   0.064    0.041    0.055   -0.037    0.075   -0.001    0.020

We can now check how good is TruncatedSVD in spam analysis. Compute cos-similarity beetween messages:

In [62]:
import numpy as np
svd_topic_vectors = (svd_topic_vectors.T / np.linalg.norm(\
svd_topic_vectors, axis=1)).T
svd_topic_vectors.iloc[:10].dot(svd_topic_vectors.iloc[:10].T).round(1)

       sms0  sms1  sms2!  sms3  sms4  sms5!  sms6  sms7  sms8!  sms9!
sms0    1.0   0.6   -0.1   0.6  -0.0   -0.3  -0.3  -0.1   -0.3   -0.3
sms1    0.6   1.0   -0.2   0.8  -0.2    0.0  -0.2  -0.2   -0.1   -0.1
sms2!  -0.1  -0.2    1.0  -0.2   0.1    0.4   0.0   0.3    0.5    0.4
sms3    0.6   0.8   -0.2   1.0  -0.2   -0.3  -0.1  -0.3   -0.2   -0.1
sms4   -0.0  -0.2    0.1  -0.2   1.0    0.2   0.0   0.1   -0.4   -0.2
sms5!  -0.3   0.0    0.4  -0.3   0.2    1.0  -0.1   0.1    0.3    0.4
sms6   -0.3  -0.2    0.0  -0.1   0.0   -0.1   1.0   0.1   -0.2   -0.2
sms7   -0.1  -0.2    0.3  -0.3   0.1    0.1   0.1   1.0    0.1    0.4
sms8!  -0.3  -0.1    0.5  -0.2  -0.4    0.3  -0.2   0.1    1.0    0.3
sms9!  -0.3  -0.1    0.4  -0.1  -0.2    0.4  -0.2   0.4    0.3    1.0

You should see larger positive cosine similarity (dot products) between any spam message (“sms2!”)!!

This gives you and idea for spam detection.

##  Latent Dirichlet allocation (LDiA)

[LDiA](https://en.wikipedia.org/wiki/Latent_Dirichlet_allocation) creates a semantic vector space model (like your topic vectors) using an
approach similar to how your brain worked - you manually allocated words to topics based on how often they occurred together in the same document. The topic mix for a document can then be determined by the word mixtures in each topic by which topic those words were assigned to. This makes an LDiA topic model much easier to
understand, because the words assigned to topics and topics assigned to documents tend to make more sense than for LSA.

The LDiA approach was developed in 2000 by geneticists in the UK to help them “infer population structure” from sequences of genes. Stanford Researchers (including Andrew Ng) popularized the approach for NLP in 2003.

LDiA is realized in [scikit learn library](https://scikit-learn.org/stable/modules/generated/sklearn.decomposition.LatentDirichletAllocation.html).

#### LDiA example

Create BOW vectors:

In [63]:
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import casual_tokenize
np.random.seed(42)
counter = CountVectorizer(tokenizer=casual_tokenize)
bow_docs = pd.DataFrame(counter.fit_transform(raw_documents=sms.text).toarray(), index=index)
column_nums, terms = zip(*sorted(zip(counter.vocabulary_.values(), counter.vocabulary_.keys())))
bow_docs.columns = terms
bow_docs

          !  "  #  #150  #5000  $  %  &  ...  —  ‘  ’  “  …  ┾  〨ud  鈥
sms0      0  0  0     0      0  0  0  0  ...  0  0  0  0  0  0    0  0
sms1      0  0  0     0      0  0  0  0  ...  0  0  0  0  0  0    0  0
sms2!     0  0  0     0      0  0  0  1  ...  0  0  0  0  0  0    0  0
sms3      0  0  0     0      0  0  0  0  ...  0  0  0  0  0  0    0  0
sms4      0  0  0     0      0  0  0  0  ...  0  0  0  0  0  0    0  0
...      .. .. ..   ...    ... .. .. ..  ... .. .. .. .. .. ..  ... ..
sms4832!  1  0  0     0      0  0  0  0  ...  0  0  0  0  0  0    0  0
sms4833   0  0  0     0      0  0  0  0  ...  0  0  0  0  0  0    0  0
sms4834   0  0  0     0      0  0  0  0  ...  0  0  0  0  0  0    0  0
sms4835   0  0  0     0      0  0  0  0  ...  0  0  0  0  0  0    0  0
sms4836   0  0  0     0      0  0  0  0  ...  0  0  0  0  0  0    0  0

[4837 rows x 9232 columns]

In [65]:
sms.loc['sms0'].text

'Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...'

In [66]:
bow_docs.loc['sms0'][bow_docs.loc['sms0'] > 0].head()

,            1
..           1
...          2
amore        1
available    1
Name: sms0, dtype: int64

Make LDiA:

In [68]:
from sklearn.decomposition import LatentDirichletAllocation as LDiA
ldia = LDiA(n_components=16, learning_method='batch')
ldia = ldia.fit(bow_docs)
ldia.components_.shape

(16, 9232)

In [71]:
pd.set_option('display.width', 75)
components = pd.DataFrame(ldia.components_.T, index=terms, columns=columns)
components.round(2).head(3)

,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,topic10,topic11,topic12,topic13,topic14,topic15
!,184.03,15.00,72.22,394.95,45.48,36.14,9.55,44.81,0.43,90.23,37.42,44.18,64.40,297.29,41.16,11.70
"""",0.68,4.22,2.41,0.06,152.35,0.06,0.06,0.06,0.45,0.68,8.42,11.42,0.07,62.72,12.27,0.06
#,0.06,0.06,0.06,0.06,0.06,2.07,0.06,0.06,0.06,0.06,0.06,0.06,1.07,4.05,0.06,0.06

In [72]:
components.topic3.sort_values(ascending=False)[:10]

!       394.952246
.       218.049724
to      119.533134
u       118.857546
call    111.948541
£       107.358914
,        96.954384
*        90.314783
your     90.215961
is       75.750037
Name: topic3, dtype: float64

Before you fit your LDA classifier, you need to compute these LDiA topic vectors for all your documents (SMS messages). And let’s see how they are different from the topic vectors produced by SVD and PCA for those same documents:

In [74]:
ldia16_topic_vectors = ldia.transform(bow_docs)
ldia16_topic_vectors = pd.DataFrame(ldia16_topic_vectors, index=index, columns=columns)
ldia16_topic_vectors.round(2).head(10)

,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,topic8,topic9,topic10,topic11,topic12,topic13,topic14,topic15
sms0,0.00,0.62,0.00,0.00,0.00,0.00,0.00,0.00,0.34,0.00,0.00,0.00,0.00,0.00,0.00,0.00
sms1,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.01,0.78,0.01,0.01,0.12,0.01,0.01,0.01,0.01
sms2!,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.98,0.00,0.00,0.00,0.00,0.00,0.00
sms3,0.00,0.00,0.00,0.00,0.09,0.00,0.00,0.00,0.85,0.00,0.00,0.00,0.00,0.00,0.00,0.00
sms4,0.39,0.00,0.33,0.00,0.00,0.00,0.14,0.00,0.00,0.00,0.00,0.00,0.09,0.00,0.00,0.00
sms5!,0.00,0.00,0.28,0.00,0.00,0.00,0.00,0.17,0.00,0.26,0.05,0.00,0.11,0.08,0.05,0.00
sms6,0.00,0.00,0.50,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.45,0.00,0.00
sms7,0.00,0.00,0.00,0.00,0.97,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
sms8!,0.57,0.00,0.00,0.16,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.25,0.00
sms9!,0.00,0.00,0.00,0.43,0.00,0.00,0.00,0.00,0.00,0.11,0.00,0.00,0.00,0.44,0.00,0.00

You can see that these topics are more cleanly separated. There are a lot of zeros in your allocation of topics to messages. This is one of the things that makes LDiA topics easier to explain to coworkers when making business decisions based on your NLP pipeline results.

#### LDiA + LDA = spam classifier

We use LDiA vector to use in LDA classifier:

In [76]:
from sklearn.model_selection import train_test_split
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA
X_train, X_test, y_train, y_test =  train_test_split(ldia16_topic_vectors, sms.spam, test_size=0.5, random_state=271828)
lda = LDA(n_components=1)
lda = lda.fit(X_train, y_train)
sms['ldia16_spam'] = lda.predict(ldia16_topic_vectors)
round(float(lda.score(X_test, y_test)), 2)

0.94

94% accuracy on the test set  is pretty good, but not quite as PCA - see below

We compare it with LDA on TF-IDF vectors, i.e., without LDiA:

In [78]:
from sklearn.feature_extraction.text import TfidfVectorizer
from nltk.tokenize.casual import casual_tokenize
tfidf = TfidfVectorizer(tokenizer=casual_tokenize)
tfidf_docs = tfidf.fit_transform(raw_documents=sms.text).toarray()
tfidf_docs = tfidf_docs - tfidf_docs.mean(axis=0)

X_train, X_test, y_train, y_test = train_test_split(tfidf_docs,sms.spam.values, test_size=0.5, random_state=271828)
lda = LDA(n_components=1)
lda = lda.fit(X_train, y_train)
print("score on train data = ", round(float(lda.score(X_train, y_train)), 3))
print("score for test data = ", round(float(lda.score(X_test, y_test)), 3))

score on train data =  1.0
score for test data =  0.748

#### 32 LDiA topics

Above we used 16 topics. Now we increase number of topics to 32:

In [79]:
ldia32 = LDiA(n_components=32, learning_method='batch')
ldia32 = ldia32.fit(bow_docs)
ldia32.components_.shape

(32, 9232)

In [80]:
ldia32_topic_vectors = ldia32.transform(bow_docs)
columns32 = ['topic{}'.format(i) for i in range(ldia32.n_components)]
ldia32_topic_vectors = pd.DataFrame(ldia32_topic_vectors, index=index, columns=columns32)
ldia32_topic_vectors.round(2).head()

,topic0,topic1,topic2,topic3,topic4,topic5,topic6,topic7,...,topic24,topic25,topic26,topic27,topic28,topic29,topic30,topic31
sms0,0.0,0.00,0.0,0.06,0.14,0.00,0.0,0.0,...,0.00,0.00,0.0,0.00,0.0,0.00,0.0,0.0
sms1,0.0,0.00,0.0,0.00,0.53,0.00,0.0,0.0,...,0.00,0.00,0.0,0.00,0.0,0.14,0.0,0.0
sms2!,0.0,0.00,0.0,0.00,0.00,0.65,0.0,0.0,...,0.00,0.33,0.0,0.00,0.0,0.00,0.0,0.0
sms3,0.0,0.11,0.0,0.00,0.39,0.00,0.0,0.0,...,0.00,0.00,0.0,0.00,0.0,0.00,0.0,0.0
sms4,0.0,0.00,0.0,0.00,0.00,0.00,0.0,0.0,...,0.09,0.00,0.0,0.47,0.0,0.00,0.0,0.0

In [81]:
X_train, X_test, y_train, y_test = train_test_split(ldia32_topic_vectors, sms.spam, test_size=0.5, random_state=271828)
lda = LDA(n_components=1)
lda = lda.fit(X_train, y_train)
sms['ldia32_spam'] = lda.predict(ldia32_topic_vectors)

print("score on train data = ", round(float(lda.score(X_train, y_train)), 3))
print("score on test data = ",  round(float(lda.score(X_test, y_test)), 3))

score on train data =  0.933
score on test data =  0.936

## LDA Spam classifier again

We do LDA for TF-IDF vector again using cross-validation for better score estimation:

In [82]:
from sklearn.model_selection import cross_val_score
lda = LDA(n_components=1)
scores = cross_val_score(lda, tfidf_docs, sms.spam, cv=5)
"Accuracy: {:.2f} (+/-{:.2f})".format(scores.mean(), scores.std() * 2)

'Accuracy: 0.77 (+/-0.02)'

#### LSA + LDA SMS Spam calssification

We use PCA data:

In [87]:
X_train, X_test, y_train, y_test = train_test_split(pca_topic_vectors.values, sms.spam, test_size=0.3,random_state=271828)
lda = LDA(n_components=1)
lda.fit(X_train, y_train)
lda.fit(X_train, y_train)
print("score on test data = ", lda.score(X_test, y_test).round(3))

lda = LDA(n_components=1)
scores = cross_val_score(lda, pca_topic_vectors, sms.spam, cv=10)
"Accuracy: {:.3f} (+/-{:.3f})".format(scores.mean(), scores.std() * 2)

score on test data =  0.963

'Accuracy: 0.957 (+/-0.022)'

This is higher accuracy than for Latent Dirichlet Analysis.

## Topic vs Semantic Search

When you search for a document based on a word or partial word it contains, that’s
called **full text search**. This is what search engines do. They break a document into
chunks (usually words) that can be indexed with an inverted index like you’d find at the
back of a textbook. It takes a lot of bookkeeping and guesswork to deal with spelling
errors and typos, but it works pretty well.

[**Semantic search**](https://en.wikipedia.org/wiki/Semantic_search) is full text search that takes into account the meaning of the words
in your query and the documents you’re searching. You’ve learned two
ways
- LSA 
- LDiA

to compute topic vectors that capture the semantics (meaning) of words and documents in a vector. One of the reasons that latent semantic analysis was first called latent semantic indexing was because it promised to power semantic
search with an index of numerical values, like BOW and TF-IDF tables. 

Semantic search was the next big thing in information retrieval.

Unlike BOW and TF-IDF tables, tables of semantic vectors can’t be easily discretized and indexed using traditional inverted index techniques. Traditional indexing approaches work with binary word occurrence vectors, discrete vectors (BOW vectors), sparse continuous vectors (TF-IDF vectors), and low-dimensional continuous
vectors (3D GIS data). 

But high-dimensional continuous vectors, such as topic vectors from LSA or LDiA, are a challenge.58 Inverted indexes work for discrete vectors or binary vectors, like tables of binary or integer word-document vectors, because the
index only needs to maintain an entry for each nonzero discrete dimension. Either that value of that dimension is present or not present in the referenced vector or document. Because TF-IDF vectors are sparse, mostly zero, you don’t need an entry in your index for most dimensions for most documents.

<img src="SemanticSearch.png">

One can note that semantic search get worse around 12 dimensions.

## Disntances and similarities

**Distance** measures disnatnce between two vectors. It can be ordinary euclidean distance or any other 'distance', that measures dissimilarity between vectors.

Distance is assoicated with mathematical meaning of [metric](https://en.wikipedia.org/wiki/Metric_(mathematics)).

Metric must have the following three properties:
- Nonnegativity: metrics can never be negative. metric(A, B) >= 0
- Indiscerniblity: two objects are identical if the metric between them is zero. if metric(A, B) == 0: assert(A == B)
- Symmetry: metrics don’t care about direction. metric(A, B) = metric(B, A)
- Triangle inequality: you can’t get from A to C faster by going through B in-between. metric(A, C) <= metric(A, B) + metric(B, C)

**Similarity** is associated with distance - it ranges between 0.0 (totaly dissimilar) and 1.0 (totally similar).

Typical conversion formula:
- similarity = 1. / (1. + distance)
- distance = (1. / similarity) - 1.

For distances and similarities ranged in $[0;1]$ interval the conversion formulas are simpler:
- similarity = 1. - distance
- distance = 1. - similarity

Example:

import math
angular_distance = math.acos(cosine_similarity) / math.pi
distance = 1. / similarity - 1.
similarity = 1. - distance

Standard similarity distances are defined in [scikit learn library](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.pairwise_distances.html):

- 'cityblock'
- 'cosine', 
- 'euclidean', 
- 'l1',
- 'l2', 
- 'manhattan', 
- 'braycurtis',
- 'canberra', 
- 'chebyshev', 
- 'correlation', 
- 'dice', 
- 'hamming', 
- 'jaccard',
- 'kulsinski', 
- 'mahalanobis', 
- 'matching', 
- 'minkowski', 
- 'rogerstanimoto',
- 'russellrao', 
- 'seuclidean', 
- 'sokalmichener', 
- 'sokalsneath', 
- 'sqeuclidean',
- 'yule'

Each metric has specific application and there is no-one-for-all solution!!!